# Functions

## function without arguments and without return type

In [7]:
def add():
    a = 5;
    b = 10;
    result = a + b
    print(result)
    
add()

15

## function with arguments and without return type

In [8]:
def add(a, b):
    result = a + b
    print(result)
    
add(10, 25)

35

## function with arguments and with return type

In [12]:
def add(a, b):    
    result = a + b
    return result

def add(a, b):    
    return a+b
    
result = add(10, 15)
print(result)

25

In [ ]:
## function without arguments and withreturn type

In [16]:
def current_year():
    return 2021

year = current_year()
print(year)

2021

In [24]:
var = [1, 22, 3]
var1 = ['dan', 'zoe', 'obama']

def test(numbers):
    print(numbers)
    for i in numbers:
        print(i)

# test(var)
test(var1)

['dan', 'zoe', 'obama']
dan
zoe
obama

In [28]:
def multiply(n1, n2=1):
    print(n1 * n2)

multiply(10)

10

In [39]:
def test(a, *args):
    print(a)
    print(args)
    for i in range(len(args)):
        print(i)

test(1,2,4, 5, 6, 7, 8)

1
(2, 4, 5, 6, 7, 8)
0
1
2
3
4
5

In [73]:
def test(*kwargs):
    for var in kwargs:
        print(var)

test('dan','elaine','zoe')

dan
elaine
zoe

In [71]:
def test(**kwargs):
    for key, value in kwargs.items():
        print("{} = {}".format(key, value))

test(fn='dan', ln='test', mobile=555)

fn = dan
ln = test
mobile = 555

In [69]:
def test(**kwargs):
    for key, value in kwargs.items():
        print("%s = %s" %(key, value))

dan = {'fn':'dan', 'ln':'test', 'mobile':555}

test(**dan)

fn = dan
ln = test
mobile = 555