# Functions

## function without arguments and without return type

In [47]:
def add():
    a = 5;
    b = 10;
    result = a + b
    print(result)
    
add()

15

## function with arguments and without return type

In [8]:
def add(a, b):
    result = a + b
    print(result)
    
add(10, 25)

35

## function with arguments and with return type

In [12]:
def add(a, b):    
    result = a + b
    return result

def add(a, b):    
    return a+b
    
result = add(10, 15)
print(result)

25

In [ ]:
## function without arguments and withreturn type

In [16]:
def current_year():
    return 2021

year = current_year()
print(year)

2021

In [24]:
var = [1, 22, 3]
var1 = ['dan', 'zoe', 'obama']

def test(numbers):
    print(numbers)
    for i in numbers:
        print(i)

# test(var)
test(var1)

['dan', 'zoe', 'obama']
dan
zoe
obama

In [28]:
def multiply(n1, n2=1):
    print(n1 * n2)

multiply(10)

10

In [39]:
def test(a, *args):
    print(a)
    print(args)
    for i in range(len(args)):
        print(i)

test(1,2,4, 5, 6, 7, 8)

1
(2, 4, 5, 6, 7, 8)
0
1
2
3
4
5

In [73]:
def test(*kwargs):
    for var in kwargs:
        print(var)

test('dan','elaine','zoe')

dan
elaine
zoe

In [71]:
def test(**kwargs):
    for key, value in kwargs.items():
        print("{} = {}".format(key, value))

test(fn='dan', ln='test', mobile=555)

fn = dan
ln = test
mobile = 555

In [69]:
def test(**kwargs):
    for key, value in kwargs.items():
        print("%s = %s" %(key, value))

dan = {'fn':'dan', 'ln':'test', 'mobile':555}

test(**dan)

fn = dan
ln = test
mobile = 555

In [2]:
def add(n1, n2):
    print(n1+n2)

add(3, 5)

8

In [20]:
def add(*args):
    result = 0
    for i in args:
        result = result + i
    print(result)

add(3, 5, 10, 40)

58

In [23]:
def display(fn, ln, mn):
    print("First Name = {}".format(fn))
    print("Last Name = {}".format(ln))
    print("Mobile Number = {}".format(mn))
    
# display(fn='John', ln='Rambo', mn='1234')
display(ln='Rambo', mn='1234', fn='John')

First Name = John
Last Name = Rambo
Mobile Number = 1234

In [26]:
def display(**kwargs):
    for key, value in kwargs.items():
        print("{} = {}".format(key, value))

display(ln='Rambo', mn='1234', fn='John')

ln = Rambo
mn = 1234
fn = John

In [27]:
dict(ln='Rambo', mn='1234', fn='John')

{'ln': 'Rambo', 'mn': '1234', 'fn': 'John'}

In [30]:
def display(**kwargs):
    for key, value in kwargs.items():
        print("{} = {}".format(key, value))

john = dict(ln='Rambo', mn='1234', fn='John')
display(**john)

ln = Rambo
mn = 1234
fn = John

In [33]:
a = 5
b = 10

# temp = a
# a = b 
# b = temp
# print(a)
# print(b)

# temp = a+b
# a = temp-a
# b = temp-b

a,b=b,a

print(a)
print(b)

10
5

In [34]:
def a(n1, n2):
    return n1+n2

var = a(2,3)
print(var)

5

# Lambda

In [39]:
var = lambda x,y: x+y
print(var(2,3))

5

In [43]:
def add(n):
    return lambda a: a + n

var = add(5)

print(var(10))

15

# Methods

In [49]:
class A:
    
    def add(self, n1, n2):
        print(n1+n2)

obj = A()
obj.add(3,5)

8